@import "tailwindcss";

:root {
  /* Palette Finance Dark */
  --background: #020617;
  --foreground: #ffffff;

  /* Accents */
  --color-neon-lime: #e2ff00;
  --color-emerald-400: #34d399;
  --color-rose-500: #f43f5e;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-poppins);

  /* Add custom colors to the theme */
  --color-emerald-400: var(--color-emerald-400);
  --color-rose-500: var(--color-rose-500);
  --color-slate-800: var(--color-slate-800);
  --color-slate-900: var(--color-slate-900);
  --color-slate-950: var(--color-slate-950);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), ui-sans-serif, system-ui;
}
