@import "tailwindcss";

:root {
  /* Slate-950 */
  --background: #020617;
  /* White text */
  --foreground: #ffffff;

  /* Accents */
  --color-emerald-400: #34d399;
  --color-rose-500: #f43f5e;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Add custom colors to the theme */
  --color-emerald-400: var(--color-emerald-400);
  --color-rose-500: var(--color-rose-500);
  --color-slate-800: var(--color-slate-800);
  --color-slate-900: var(--color-slate-900);
  --color-slate-950: var(--color-slate-950);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
